<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>

	<div class="container">
		<h3 class="text-primary bg-info">
			<strong>CONTACT INFORMATION </strong>
		</h3>
		<div class="row">
			<div class="col-md-12">
				<span style="color: #002060;"><br></br> <br></br> <strong>CONFERENCE&nbsp;</strong><br></br>
					Email: icsse2017@hcmute.edu.vn<br></br> Location: HCMC University
					of Technology and Education<br></br> 01 Vo Van Ngan Street, Linh
					Chieu Ward, Thu Duc District, Ho Chi Minh City&nbsp;<br></br> <br></br>
					<strong>VIETNAM</strong><br></br> 1. A/P. Hoang An Quoc - Email:
					hanquoc@hcmute.edu.vn<br></br> 2. A/P. Do Thanh Trung - Email:
					trungdt@hcmute.edu.vn<br></br> <br></br> <strong>TAIWAN</strong><br></br>
					Prof. Yo-Ping Huang - Email:&nbsp;yphuang@ntut.edu.tw<br></br> <br></br>
					<br></br> <br></br> </span>
			</div>
		</div>
	</div>

	<div th:replace="layout :: footer"></div>
</body>
</html>