<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>
	<div class="container">
		<a th:href="@{/}"><button
				class="btn btn-success navbar-btn navbar-right" type="button">SIGN
				OUT</button></a>
	</div>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><a th:href="@{/admin}">Danh mục tài khoản</a></li>
			<li class="active"><a th:href="@{/addNews}">Danh mục tin tức mới</a></li>
		</ul>
		<h3 class="text-center">
			<strong>QUẢN LÝ TIN TỨC MỚI</strong>
		</h3>
		<br></br>

		<div class="container">
			<a th:href="@{/addNews/createNews}" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-plus"></span> Thêm tin tức mới
			</a> <br></br> <br></br> <br></br>
		</div>

		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${success}"></span>
		</div>

		<th:block th:unless="${#lists.isEmpty(news)}">
			<div class="table-responsive">
				<table class="table table-striped table-bordered text-left">
					<thead>
						<tr>
							<th><strong>ID </strong></th>
							<th>Tiêu đề</th>
							<th>Nội dung</th>
							<th>Người tạo</th>
							<th>Ngày tạo</th>
							<th>Chỉnh sửa</th>
							<th>Xóa</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="news,iterStat : ${news}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${news.tieude}"></td>
							<td th:text="${news.noidung}"></td>
							<td th:text="${news.nguoitao}"></td>
							<td th:text="${news.ngaytao}"></td>
							<td><a th:href="@{/news/{id}/edit(id=${news.id})}"><span
									class="glyphicon glyphicon-pencil" data-toggle="modal"
									data-target=".modal"></span></a></td>
							<td><a th:href="@{/news/{id}/delete(id=${news.id})}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</div>
	<br></br>
	<br></br>
	<div th:replace="layout :: footer"></div>
</body>
</html>