<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>
	<div class="container">
		<a th:href="@{/login}"><button
				class="btn btn-success navbar-btn navbar-right" type="button">ĐĂNG NHẬP</button></a>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3 class="text-center text-primary bg-warning">WELCOME TO...</h3>
				<p class="text-justify">System Science and Engineering has
					emerged as a research field that covers a wide spectrum of modern
					technology. A system can be considered as a collection of entities
					and their interrelationships gathered together to form a whole
					greater than the sum of the entities. It also involves people,
					organizations, cultures, activities and interrelationships among
					them. While systems composed of autonomous subsystems are not new,
					increased data density, connectivity and ubiquitous computational
					resources have increased their interdependence and interaction
					complexity. This has in turn made the already difficult job of
					planning, developing and deploying complex systems even more
					difficult. Technology advancement not only provides opportunities
					for improving system capabilities but also introduces development
					risks that must be weighed and managed. Thus, it is our goal to
					bring together scholars from all areas to have a forum to discuss,
					demonstrate and exchange research ideas in the scope of system
					science and engineering. The International Conference on System
					Science and Engineering 2017 (ICSSE 2017) is an international
					conference that will take place in Ho Chi Minh City during July
					21-23, 2017. This event will provide a great opportunity for
					scientists, engineers, and practitioners from all over the world to
					present the latest system design concepts, research results,
					developments and applications, as well as to facilitate
					interactions between scholars and practitioners. ICSSE 2017 will
					feature plenary speeches in emerging technology topics given by
					world renowned scholars. The proceedings of ICSSE 2017 will be
					published by the IEEE with EI indexing. In addition, selected
					high-quality papers will be published by special issues of
					SCI-indexed journals.&nbsp;</p>
				<h3 class="text-center text-primary bg-warning">SPONSORED BY</h3>
				<img src="images/sponsor_by.PNG"></img>
			</div>
			<div class="col-md-4 col-md-offset-0">
				<div class="thumbnail">
					<img src="images/Latedess newsPNG.PNG"></img>
					<div class="caption">
						<p>Create Date 12/09/2017</p>
						<a href="/?ArticleId=26061a17-7118-4483-a711-bb569137d3af">
							Congratulations! 2017 International Conference on System Science
							and Engineering (ICSSE) is now published in IEEE Xplore </a>
						<p>-----------------------------------------------------------
						</p>
						<p>Create Date 28/06/2017</p>
						<a href="/?ArticleId=77551148-3bae-4c1f-96bd-ea085b8d9ecf">
							OFFICIAL PROGRAM OF ICSSE2017 </a>
						<p>-----------------------------------------------------------
						</p>
						<p>Create Date 09/03/2017</p>
						<li><a
							href="/?ArticleId=3af2fa01-2645-4516-a65a-67bfec768e13">
								SPECIAL SESSION 02 FOR ICSSE2017: FUZZY SYSTEMS AND ITS
								APPLICATIONS</a></li>
						<p>-----------------------------------------------------------
						</p>
						<p>Create Date 07/03/2017</p>
						<li><a
							href="/?ArticleId=bc474489-26ce-4997-a1c0-b37dce27b202">
								ABSTRACT DEADLINE EXTENSION: MARCH 19, 2017</a></li>

					</div>
				</div>
				<div class="thumbnail">
					<img src="images/Deadline.PNG"></img>
					<div class="caption">

						<div style="text-align: center;">
							<span style="text-align: left; font-size: 16px;"> <strong>May
									10, 2017</strong><br></br> &nbsp;<span style="color: #002060;">4-6
									Pages Final Papers Submission<br></br>
							</span></span>
						</div>

						<div style="text-align: center;">
							<span style="text-align: left; font-size: 16px;"> <strong>May
									20, 2017</strong><br></br> &nbsp;<span style="color: #002060;">Notification
									of Full paper Acceptance/<br></br> Invitation Letter
							</span></span>
						</div>

						<div style="text-align: center;">
							<span style="text-align: left; font-size: 16px;"> <br></br>
								<strong>May 25, 2017</strong><br></br> &nbsp;<span
								style="color: #002060;">Online Registration<br></br></span></span>
						</div>
						<br></br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout :: footer"></div>
</body>
</html>